<% layout('/layouts/boilerplate') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p><%= error.message %></p>
        <hr>
        <p class="mb-0">Status Code: <%= error.statusCode %></p>
      </div>
    </div>
  </div>
</div>
